<!DOCTYPE html>
<html>
  <head>
    <title>昨日食べた物の入力フォーム</title>
    <style>
      body {
        font-family: sans-serif;
        text-align: center;
        margin: 0;
      }

      h1 {
        margin-top: 50px;
      }

      form {
        margin-top: 30px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }

      label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: bold;
      }

      input[type="text"] {
        padding: 10px;
        font-size: 1.2em;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
      }

      input[type="submit"] {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 20px;
        background-color: #008CBA;
        color: #fff;
        font-size: 1.2em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .links {
        margin-top: 50px;
      }

      .links a {
        display: block;
        margin-bottom: 10px;
        font-size: 1.1em;
      }
    </style>
  </head>
  <body>
    <h1>CookAI</h1>
    <form action="<%= interview_yesterday_meal_path %>" method="post">
      <label for="yesterday_meal">昨日は何を食べましたか？</label>
      <input type="text" id="yesterday_meal" name="yesterday_meal" list="ates" required>
      <datalist id="ates">
        <% @ates.each do |ate| %>
          <option value="<%= ate.name %>">
        <% end %>
      </datalist>
      <input type="submit" value="バランスの良い食事を提案">
    </form>
    <div class="links">
      <a href="<%= destroy_user_session_path %>" data-method="delete">ログアウト</a>
      <a href="<%= calendar_path %>">食べたものを確認する</a>
    </div>
  </body>
</html>
